.index-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer {
  margin-top: 0.5em;
  display: block;
  width: 100%;
  text-align: right;
}

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter-link {
  font-size: 2em;
}
