.index-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer {
  margin-top: 0.5em;
  display: block;
  width: 100%;
  text-align: right;
}

.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enter-link {
  font-size: 2em;
}

.transliteration {
  color: rgb(35, 35, 40);
  font-style: italic;
}
