@import url("/css/index.css");
@import url("/css/home.css");
@import url("/css/posts.css");
@import url("/css/post-menu.css");
@import url("/css/blog.css");
@import url("/css/todo.css");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

:root {
  --color-1: rgb(15, 17, 23);
  --color-2: rgb(215, 215, 255);
  --color-3: rgb(204, 204, 204);
  --color-4: rgb(115, 132, 184);
  --color-5: orange;
  --color-6: rgb(64, 64, 65);
}

* {
  box-sizing: border-box;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding: 0;
  margin: 0;

  color: var(--color-3);
}

html,
body {
  background-color: var(--color-1);
}

h1 {
  color: var(--color-2);
  font-size: 2em;
}

a,
p,
input {
  font-size: 1.2em;
}

a {
  color: var(--color-4);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-5);
}

button {
  background-color: var(--color-1);
  color: var(--color-2);
  border: 1px solid transparent;
  padding: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background-color: var(--color-6);
  color: var(--color-2);
}

button:active {
  background-color: var(--color-2);
  color: var(--color-1);
}

input,
textarea {
  background-color: var(--color-1);
  border: 2px solid transparent;
  border-bottom: 2px solid var(--color-3);
  outline: none;
  height: 35px;
  padding: 0.5em;
}

input::placeholder,
textarea::placeholder {
  margin-left: 0.5em;
  outline: none;
}

time {
  font-style: italic;
}

.sastra-logo {
  font-family: "Permanent Marker";
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
