#post-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.post-menu-wrapper {
  padding: 2em;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 80vh;
  background-color: var(--color-1);
  border-top: 10px solid var(--color-2);
  border-bottom: 3px solid var(--color-2);
  border-radius: 10px;
  box-shadow: 0px 0px 5px var(--color-2);
}

.post-menu-sastra-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-menu-sastra-logo h1 {
  text-align: center;
}

.post-menu-sastra-logo img {
  width: 300px;
  filter: invert(80%) sepia(43%) saturate(640%) hue-rotate(191deg) brightness(106%) contrast(101%);
  animation: rotateImage 10.5s linear infinite;
}


@keyframes rotateImage {
  from {
    transform: rotateY(360deg);
  } to {
    transform: rotateY(0deg);
  }
}

#post-body {
  height: 90%;
}

#post-title {
  font-size: larger;
}

.post-menu-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
