.post-card p {
  width: 100%;
}

.post-card {
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 0.2em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--color-6);
}

.post-card,
.post-card-title,
.post-card-tags {
  user-select: none;
  word-break: normal;
  overflow-wrap: break-word;
}

.post-card-title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.post-card:hover {
  background-color: var(--color-2);
}

.post-card:hover p,
.post-card:hover h3 {
  color: var(--color-1);
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2.8em;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  border-top: 10px solid var(--color-2);
  border-radius: 10px;

}

.post-title {
  text-align: center;
}

.post-body {
  white-space: pre-wrap;
  border-bottom: 1px solid var(--color-6);
  padding-bottom: 0.7em;
}

.post-tags {
  margin-bottom: 1em;
}
